[Unit]
Description=time-tracker

[Container]
Image=time-tracker:latest
Network=host
UserNS=keep-id
Volume=/srv/time-tracker/data:/data

[Install]
# Start by default on boot
WantedBy=default.target

